@import '../../../lib/css/abstract/_variables.scss';

.block-product-3d {
	margin: 100px auto;
	padding: 0 15px;

	h2 {
		justify-content: center;
	}

	#canvas-parent {
		width: 100%;
		height: 500px;
	}
}