.block-video-scroll .intro {
  height: 100vh; }
  .block-video-scroll .intro video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .block-video-scroll .intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.block-video-scroll section {
  height: 100vh; }
  .block-video-scroll section h1 {
    padding-top: 300px; }

.block-video-scroll #hero-section {
  width: 100vw;
  height: 100vh; }
